<%- include('layout') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <div class="content">
  <div class="book_name"><%= book.title %></div>
  <% if (book.author) { %>
    <p>Author: <%= book.author.first_name %> <%= book.author.family_name %></p>
  <% } else { %>
    <p>Author: Unknown</p>
  <% } %>
  <p>ISBN: <%= book.isbn %></p>
  <p>Summary: <%= book.summary %></p>
  <a href="/catalog/book/<%= book._id %>/update">Update</a>
  <a href="/catalog/book/<%= book._id %>/delete">Delete</a>
  </div>
</body>
</html>
