<%- include('layout') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="content">

    <form method="POST" action="<%= book ? '/catalog/book/' + (book._id ? book._id + '/update' : 'create') : '/catalog/book/create' %>">

        <div class="form-group">
            <label for="title">Book Title:</label>
            <input type="text" id="title" name="title" class="form-control" required value="<%= book ? book.title : '' %>">
        </div>

        <div class="form-group">
            <label for="author">Author:</label>
            <select name="author" required>
                <% authors.forEach(author => { %>
                    <option value="<%= author._id %>" <%= book && book.author && book.author.equals(author._id) ? 'selected' : '' %>>
                        <%= author.first_name + ' ' + author.family_name %>
                    </option>
                <% }); %>
            </select>
        </div>
        
        <div class="form-group">
        <label for="summary">Summary:</label>
        <textarea id="summary" name="summary" rows="4" required><%= book ? book.summary : '' %></textarea>
        </div>

        <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required value="<%= book ? book.isbn : '' %>">
        </div>
        
        <% if (book && book._id) { %>
            <button type="submit" class="btn btn-primary">Update Book</button>
        <% } else { %>
            <button type="submit" class="btn btn-primary">Create Book</button>
        <% } %>

    </form>
    </div>
</body>
</html>
