<%- include('layout') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<div class="content">
<h1>Delete Book</h1>
<p>Are you sure you want to delete <%= book.title %> by <%= book.author.name %>?</p>
<form method="POST" action="/catalog/book/<%= book._id.toString() %>/delete">
    <button type="submit">Delete</button>
    <a href="/catalog/book/<%= book._id %>">Cancel</a>
</form>
</div>
</body>
</html>
